@import "tailwindcss";

:root {
  --background: #F9FAFB; /* gray-50 */
  --foreground: #1F2937; /* gray-800 */
  
  --party-red: #DE2910;
  --party-red-dark: #B91C1C;
  --party-gold: #FFDE00;
  --party-gold-dark: #F59E0B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-party-red: var(--party-red);
  --color-party-red-dark: var(--party-red-dark);
  --color-party-gold: var(--party-gold);
  --color-party-gold-dark: var(--party-gold-dark);
  
  --font-serif: var(--font-noto-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: var(--font-noto-sans), ui-sans-serif, system-ui, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.2s ease-out forwards;
}
